
/*
__________________________________________
  CSS Propio index.html
__________________________________________
*/

.content{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.contentTable{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.contentTable td{
  padding-right:   7px;  
}

.indexSection{
  font-weight: 200;
  width: 100%;
  color: #fff;
  margin-bottom: 12px;

}

.indexSection article{
  padding: 15px;
  background-color: #3f3f3f;

  margin-bottom: 15px;
  border-radius: 12px;
  border-style: inset;
  border-color: #459c69;
  border-width: 1.4px;

}

.organizationTable{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-collapse: collapse;


}

.tableRow:nth-child(odd):hover{
  background-color: #6e6d6d;
}

.tableRow:nth-child(even):hover{
  background-color: #5f5f5f;
}


  
.tableRow:nth-child(even){

  background-color: #505050;
}

.tableRow:nth-child(odd){
  background-color: #404040;
}

.titleTable{
  background-color: #459c69;
  padding:12px;
  font-weight: 400;
}



hr{
  width: calc(2em + 8em);
  float: left;
  margin-left:2.4px;
  margin-top: calc(3em - 4em);
  color:  #459c69;

}

.content h3{
  width: 50%;
  margin-left: 25%;
  background-color: #38af6b;
  padding: 4px;
  border-radius: 3px;
  font-weight: 300;
}

.indexSection article h2{
  margin-left: 100px;
  margin-right:  100px;
  background-color: #459c69;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  font-weight: 500;
  margin-top: 0;
}

.sections{
  margin-top: -40px;

}

.content > h3.webContentSection{
  text-align: left;
  background-color:#3f3f3f;
  margin-left: 0;
  border-color: #fff;
}


.content div{
  border-radius: 6px;
  background-color: rgb(0, 0, 0,.4);

}

.content div p{
  padding: 17px;
}



/*Carousel*/

.carousel{
  width: 90%;
  margin-left:5%;
}

.carousel__previous,
.carousel__next{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border:none;
  top: calc(50% - 15px);
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  background: none;
  opacity: .5;
}

.carousel__previous:hover{
  opacity: 1;
}

.carousel__next:hover{
  opacity: 1;
}

.indic .glider-dot{
  display: block;
  width:30px ;
  height: 4px;
  background-color: #fff;
  border-radius: 0;

}

.indic .glider-dot:hover{
  opacity:.5;
}




.items__carousel{
  overflow: hidden;
}

.carousel__next{
  right:-30px;
}

.carousel__previous{
  left: -26px;
}

.carousel button{
  background-color: #2e2e2e;
  border-color: transparent;
}

.container__carousel{
  position: relative;

}


