
/*
__________________________________________
  CSS Propio index.html
__________________________________________
*/

.content{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.contentTable{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.contentTable td{
  padding-right:   7px;  
}

.indexSection{
  
  width: 100%;
  color: #2e2e2e;
  margin-bottom: 12px;

}

.indexSection article{
  padding: 15px;
  background-color: #c0c0c0;
  margin-bottom: 15px;
  border-radius: 12px;

}



.content h3{
  width: 50%;
  margin-left: 25%;
  background-color: #38af6b;
  padding: 4px;
  border-radius: 3px;
  font-weight: 300;
}

.indexSection h2{
  margin-left: 100px;
  margin-right:  100px;
  background-color: #459c69;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  font-weight: 500;
  margin-top: 0;
}




/*Carousel*/

.carousel{
  width: 90%;
  margin-left:5%;
}

.carousel__previous,
.carousel__next{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border:none;
  top: calc(50% - 15px);
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  background: none;
  opacity: 0.5;
}

.carousel__previous,
.carousel__next:hover{
  opacity: 1;
}

.indic .glider-dot{
  display: block;
  width:30px ;
  height: 4px;
  background-color: #fff;
  border-radius: 0;

}

.indic .glider-dot:hover{
  opacity:.5;
}

.indic .glider-dot.active{
  opacity: 1;
}


.items__carousel{
  overflow: hidden;
}

.carousel__next{
  right:-30px;
}

.carousel__previous{
  left: -26px;
}

.carousel button{
  background-color: #2e2e2e;
  border-color: transparent;
}

.container__carousel{
  position: relative;

}


