@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/*CSS Común a todas las páginas*/

*{
  font-family: Lato, sans-serif;
}

body {
  position: relative;
  background-color: #2e2e2e;
  
}










/*Footer style*/

footer{
  width: 100%;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  border-radius: 12px;
  clear: both;
  color: #2e2e2e;
  background-color: #459c69;

}

footer ul{
  list-style-type: none;
  list-style-image: url("../images/row.png");
  padding-bottom: 15px;

}

footer article{
  padding-left: 12px;
}

.pfooter{
  padding-top: 4px;
  margin-left: 30px;
  margin-bottom: 29px;
}


.pfooter+a{
  margin-left: 30px;

}


.last ul{
  width: 110px;
  background-color: #000;
}

.last img{

  display: inline-block;
}



.last div{
  margin-left: 30px;
  background-color: #2e2e2e;
  padding: 5px;
  width: 225px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.last div img{
  margin-right:  13px;
}














  






.slideshow{
  width: 95.5%;
  position: relative;
}

.slider li, ul{
  width: 100%;
}

.slider li{
  overflow: hidden;
}

.slider li img{
  width: 100%;
}

.slider .caption{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 15px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #fff;
  z-index: 1;
}

.slider .caption h1{
  font-size: 50px;
}

.slider .caption p{
  margin-top: 10px;
  font-size: 20px;
}

.pagination{
  position: absolute;
  top: 102%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.pagination li{
  font-size: 20px;
  margin: 2px 5px;
  color: #3f3f3f;
  cursor: pointer;
}




@media screen and (max-width: 600px){
  .slider .caption p{
    display: none;
  }

  .slider .caption h1{
    font-size: 35px;
  }

  .left, .right{
    font-size: 30px;
  }

  .slider li img{
    width: 600px;
  }

  .pagination{
    display: none;
  }
}









header {
  width: 100%;
  padding: 40px;
  color: white;
  text-align: center;
  background: #112d4e;
}

nav ul {
  background: #164884;
  text-align: center;
  list-style: none;
  overflow: hidden;

}

ul li {
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 250ms;
}

ul li:hover {
  background: #112d4e;
}

ul li a {
  color: white;
  text-decoration: none;
}

.hide {
  padding: 16px;
  font-size: 22px;
  background: #112d4e;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  ul li {
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .hide {
    display: block;
  }

  nav ul {
  display: none;

  }
}